<div class='toolbar' role='banner'>
  <h2>Chan-Notes</h2>

  <button (click)='block()' id='myBtn'>+</button>
</div>
<div id='myModal' class='modal'>
      <div class="nativeEnt">
      <div class='entry'>
        <button class='xb' (click)='close();'>X</button>
        <input type='text' [(ngModel)]="title" id='title' placeholder='Title'>

        <textarea [(ngModel)]='content' placeholder='Conent' id='content' cols='30' rows='10'></textarea>

        <button class='bbt' (click)='close();putData()'>Save</button>
      </div>
    </div>
</div>

<div class='op'>
  <div class='output' *ngFor='let i of viewArray; index as d'>
    <input type='text' value='Tittle:{{i.title}}' id='cr2'>
    <textarea name='' id='created' cols='30' rows='10'>


  Content: {{i.content}}</textarea>
    <button (click)='delete(i)' class='dt'>🗑️</button><button (click)='cpText(i)' class='cp'> 📋 </button>
    <br>
  </div>
</div>
